html {
  font-size: 16px;
}

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-primary);
}

.input {
  @apply w-full border-none outline-none text-primary font-medium text-lg;
}

.label {
  @apply text-sm block font-light text-primary;
}

.form-field {
  @apply border-2 border-gray-100 rounded-sm px-5 py-1.5 h-16 flex items-center;
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}
